body {
  text-align: center;
}
header {
  height: 9em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 3.2em;
}

h3 {
  font-size: 1.75em;
}

body > a {
  font-size: 2em;
}

input[type=text] {
  width: 15em;
  height: 2em;
  margin: 0.5em;
}
.edit {
  padding: 0.5em;
}
button {
  font-size: 1em;
  padding: 0.5em;
}

p {
  margin: 0;
}
img {
  width: 7em;
  height: 7em;
  padding-bottom: 0.25em;
}
