<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#character}}
      <h1>{{name}}</h1>
      <h3>{{house}}</h3>
      <h3>Born in the year {{yearBorn}}</h3>
        {{#facialCharacteristics}}
          <h3>{{name}}'s hair color is {{hair}}, they have {{eyeColor}} eyes.</h3>
          {{#unique}}
            <h3>Funny enough, they also have {{unique}}</h3>
          {{/unique}}
          {{^unique}}
            <h3>And that's it!! Nothing extra to see!</h3>
          {{/unique}}
        {{/facialCharacteristics}}

        <form class="" action="/info_personal/{{_id}}/delete" method="post">
          <button type="submit" name="button">Delete {{name}}</button>
        </form>
    {{/character}}


  </body>
</html>
